* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

/*
CSS for whole main navigation bar  
*/

.navigation-bar-css {
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

/*
CSS for Amazon logo Box 1 
*/
.navigation-logo-css {
    height: 50px;
    width: 100px;

}

.navigation-logo {
    background-image: url("src/assets/amazon_logo.png");
    height: 60px;
    width: 100%;
    background-size: cover;
}

/*
CSS for showing white border on hover 
*/

.navigation-border {
    border: 1.5px solid transparent
}

.navigation-border:hover {
    border: 1.5px solid white
}

/*
CSS for navigation "Deliver to India" box 2 
*/

.navigation-address-icon {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.navigation-address-first {
    color: #dddddd;
    font-size: 0.7rem;
    margin-left: 25px;

}

.navigation-address-second {
    font-size: 1rem;
    margin-left: 1px;
}

/*
CSS for navigation "Search Box" box 3 
*/

.navigation-search {
    margin-left: 15px;
    align-items: center;
    display: flex;
    width: 890px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}

.navigation-search:hover {
    border: 3px solid orange;
}

.navigation-search-select {
    background-color: #f3f3f3;
    color: #0F1111;
    font-size: 12px;
    width: 50px;
    height: 40px;
    text-align: center;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.navigation-search-textbox {
    height: 39px;
    width: 100%;
    font-size: 1rem;
    border: 10px solid white;
}

.navigation-search-icon {
    height: 40px;
    width: 45px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    color: #0F1111;

}

/*
CSS for navigation "Lanaguage selector"
*/

.navigation-language-selector {
    width: 60px;
    height: 20px;
    background-color: transparent;
    align-items: center;
    display: flex;
}

.navigation-language-selector a {
    font-size: 0.85rem;
    margin-left: 0px;
    margin-right: 0px;
    font-weight: 700;
}

.navigation-language-selector-caret {
    margin-left: 0px;
    margin-top: 5px;
    font-size: 10px;
}


/*
CSS for navigation "Sign in and Returns and Lists" box 4  and box 5
*/

.navigation-common-style-first {
    font-size: 0.7rem;
}

.navigation-common-style-second {
    font-size: 0.85rem;
    font-weight: 700;

}

/*
CSS for navigation "Cart" box 6
*/


.navigation-cart-shopping-cart-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    margin-right: 14px;
}

.navigation-cart a {
    font-size: 0.85rem;
    font-weight: 700;
    margin-bottom: 40px;
}