<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div *ngIf="router.url !== '/signin'">

    <div class="navigation-bar-css">
        <div class="navigation-logo-css navigation-border">
            <a routerLink="/home">
                <div class="navigation-logo">
                </div>
            </a>
        </div>

        <div class="navigation-address navigation-border">
            <p class="navigation-address-first">Deliver to</p>
            <div class="navigation-address-icon">
                <mat-icon class="navigation-address-icon">location_on</mat-icon>
                <p class="navigation-address-second">India</p>
            </div>
        </div>

        <div class="navigation-search">
            <select class="navigation-search-select">
                <option>All</option>
            </select>
            <input placeholder="Search Amazon" class="navigation-search-textbox">
            <div class="navigation-search-icon">
                <mat-icon>search</mat-icon>
            </div>
        </div>

        <div class="navigation-language-selector">
            <mat-icon>language</mat-icon>
            <a>EN</a>
            <div class="navigation-language-selector-caret">
                <mat-icon>arrow_drop_down</mat-icon>
            </div>
        </div>


        <div class="navigation-signin navigation-border">
            <p class="navigation-common-style-first"><span><a routerLink="/signin">Hello, sign
                        in</a></span></p>
            <p class="navigation-common-style-second">Accounts & Lists</p>
        </div>

        <div class="navigation-return-and-order navigation-border">
            <p class="navigation-common-style-first"><span>Return</span></p>
            <p class="navigation-common-style-second">& Orders</p>
        </div>

        <div class="navigation-cart navigation-border">
            <mat-icon class="navigation-cart-shopping-cart-icon">shopping_cart</mat-icon>
            <a routerLink="/cart">Cart</a>
        </div>
    </div>
</div>