<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="navbar">
    <div class="nav-logo border">
        <div class="logo">
        </div>
    </div>

    <div class="nav-address border">
        <p class="nav-address-first">Deliver to</p>
        <div class="nav-address-icon">
            <mat-icon class="nav-address-icon">location_on</mat-icon>
            <p class="nav-address-second">India</p>
        </div>
    </div>

    <div class="nav-search">
        <select class="nav-search-select">
            <option>All</option>
        </select>
        <input placeholder="Search Amazon" class="nav-search-textbox">
        <div class="nav-search-icon">
            <mat-icon>search</mat-icon>
        </div>
    </div>

    <div class="nav-language-selector">
        <mat-icon>language</mat-icon>
        <a>EN</a>
        <div class="nav-language-selector-caret">
            <mat-icon>arrow_drop_down</mat-icon>
        </div>
    </div>


    <div class="nav-signin border">
        <p class="nav-common-style-first"><span>Hello, sign in</span></p>
        <p class="nav-common-style-second">Accounts & Lists</p>
    </div>

    <div class="nav-return-and-order border">
        <p class="nav-common-style-first"><span>Return</span></p>
        <p class="nav-common-style-second">& Orders</p>
    </div>

    <div class="nav-cart border">
        <mat-icon class="nav-cart-shopping-cart-icon">shopping_cart</mat-icon>
        <a>Cart</a>
    </div>
</div>