<div class="footer-backtotop-panel">
    Back to Top
</div>

<div class="footer-info-panel">
    <ul>
        <p>Get to Know Us</p>
        <a>Careers</a>
        <a>Blog</a>
        <a>About Amazon</a>
        <a>Invester Relations</a>
        <a>Amazon Devices</a>
        <a>Amazon Science</a>
    </ul>

    <ul>
        <p>Make Money With Us</p>
        <a>Sell products on Amazon</a>
        <a>Sell apps on Amazon</a>
        <a>Become an Affiliate</a>
        <a>Advertise Your Products</a>
        <a>Self-Publish with Us</a>
        <a>Host an Amazon Hub</a>
    </ul>

    <ul>
        <p>Amazon Payment Products</p>
        <a>Amazon Business Card</a>
        <a>Shop with Points</a>
        <a>Amazon Currency Converter</a>
    </ul>

    <ul>
        <p>Let us Help You</p>
        <a>Amazon and COVID-19</a>
        <a>Your Account</a>
        <a>Your Orders</a>
        <a>Shipping Rates & Policies</a>
        <a>Returns & Replacements</a>
        <a>Manage Your Content and Devices</a>
        <a>Amazon Assistant</a>
        <a>Help</a>
    </ul>
</div>

<div class="footer-global-info-panel">
    <div class="amazon-logo"></div>
</div>

<div class="footer-copyright-panel">
    <div class="footer-copyright-redirect-pages">
        <p>Conditions of Use
            Privacy Notice
            Your Ads Privacy Choices</p>
    </div>
    <div class="footer-copyright-years-panel">
        © 1996-2023, Amazon.com, Inc. or its affiliates
    </div>
</div>