<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="nav-logo">
    <div class="logo">
    </div>
</div>

<div class="sign-in-box">
    <div class="sign-in-content">
        <p class="sign-in-common-style-first">Sign in</p>
        <p class="sign-in-common-style-second">Email or mobile phone number</p>
        <input type="textbox" class="sign-in-input-text">
        <button mat-raised-button color="accent"
            style="width : 95%; margin-bottom: 15px; border-radius: 10px;">Continue</button>
        <p style="font-size: 12px; color: #111111; margin: 18px 0px 10px">By continuing, you agree to
            Amazon's Conditions
            of Use and
            Privacy Notice.</p>
        <a href style="font-size: 12px; margin-top:30px; color:#0066C0">Need help?</a>
    </div>
</div>

<div class="new-sign-in">
    <button mat-stroked-button color="black"
        style="width : 370px; margin-bottom: 15px; margin-top:50px;border-radius: 7px; background-color: white;">
        Create your Amazon account
    </button>
</div>

<mat-divider style="margin-top:70px;"></mat-divider>
<div class="footer">
    <p>©1996-2023, Amazon.com, Inc. or its affiliates</p>
</div>