/**
CSS for Hero Section
**/
.hero-section {
    background-image: url(src/assets/hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.hero-msg {
    background-color: white;
    color: black;
    font-size: 0.85rem;
    align-items: center;
    display: flex;
    width: 95%;
    height: 40px;
    justify-content: center;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007185;
}