/** 
CSS for Panel Menu below Header
**/

.panel {
    background-color: #222f3d;
    color: white;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
}

.panel a {
    text-align: center;
    margin-bottom: 10px;
}

.panel-menu-all-icon {
    font-size: 20px;
}

.panel-options {
    width: 70%;
}

.panel-options p {
    margin-left: 20px;
    display: inline;
    font-size: 0.85rem;
}

.panel-exciting-deals {
    font-size: 0.9rem;
    font-weight: 700;
}