<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="panel">
    <div class="panel-menu border">
        <mat-icon class="panel-menu-all-icon">menu</mat-icon>
        <a>All</a>
    </div>


    <div class="panel-options">
        <p>Today's Deals</p>
        <p>Customer Service</p>
        <p> Registry</p>
        <p> Gift Cards</p>
        <p> Sell</p>
    </div>

    <div class="panel-exciting-deals border">
        Shop great deals now
    </div>
</div>