<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="shop-section">
    <div class="shop-section-box">
        <div class="shop-section-box-content">
            <h2>Clothings</h2>
            <div class="shop-section-img" style="background-image: url('../assets/box1_image.jpg');"></div>
            <p>Shop now</p>
        </div>
    </div>
    <div class="shop-section-box">
        <div class="shop-section-box-content">
            <h2>Grooming & wellness</h2>
            <div class="shop-section-img" style="background-image: url('../assets/box2_image.jpg');"></div>
            <p>Shop now</p>
        </div>
    </div>
    <div class="shop-section-box">
        <div class="shop-section-box-content">
            <h2>Furnitures</h2>
            <div class="shop-section-img " style="background-image: url('../assets/box3_image.jpg');"></div>
            <p>Shop now</p>
        </div>
    </div>
    <div class="box4 shop-section-box">
        <div class="shop-section-box-content">
            <h2>Electronics</h2>
            <div class="shop-section-img " style="background-image: url('../assets/box4_image.jpg');"></div>
            <p>Shop now</p>
        </div>
    </div>

    <div class="box1 shop-section-box">
        <div class="shop-section-box-content">
            <h2>Beauty Picks</h2>
            <div class="shop-section-img " style="background-image: url('../assets/box5_image.jpg');"></div>
            <p>Shop now</p>
        </div>
    </div>
    <div class="box2 shop-section-box">
        <div class="shop-section-box-content">
            <h2>Pet Care</h2>
            <div class="shop-section-img " style="background-image: url('../assets/box6_image.jpg');"></div>
            <p>Shop now</p>
        </div>
    </div>
    <div class="box3 shop-section-box">
        <div class="shop-section-box-content">
            <h2>Toys</h2>
            <div class="shop-section-img " style="background-image: url('../assets/box7_image.jpg');"></div>
            <p>Shop now</p>
        </div>
    </div>
    <div class="box4 shop-section-box">
        <div class="shop-section-box-content">
            <h2>Discover fashion</h2>
            <div class="shop-section-img " style="background-image: url('../assets/box8_image.jpg');"></div>
            <p>Shop now</p>
        </div>
    </div>
</div>